# Python Exercise: Find numbers which are divisible by 7 and multiple of 5 between a range

In [3]:
a = [] # empty list
for i in range(1 ,1000):
    if (i % 5 == 0) and ( i % 7 == 0):
        a.append(i)
print(a)

[231, 462, 693, 924]

In [5]:
a = []
for i in range(1,100):
    if (i % 7 == 0) and ( i % 5 == 0):
        a.append(str(i))
print(a)


print(','.join(a))

['35', '70']
35,70

In [9]:
a = 7
b = 5
c = a * b
for i in range (1,100):
    if c < 100:
        print(i*c)

35
70
105
140
175
210
245
280
315
350
385
420
455
490
525
560
595
630
665
700
735
770
805
840
875
910
945
980
1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975
3010
3045
3080
3115
3150
3185
3220
3255
3290
3325
3360
3395
3430
3465

# Python Exercise: Fibonacci series between 0 to 50

In [1]:
x,y=0,1
while (x<50):  # 3<50
    print(x)   # 0,1,1,2,3
    x,y = y,x+y # x =5, y =3+5 =8

0
1
1
2
3
5
8
13
21
34

# Python Exercise:checking whether the given character is an alphabet, digit or a special character

In [10]:
chr = input(" Enter the Character: ")

print("The ASCII value of " + chr + " is", ord(chr))  # ord used to present the ASCII value of give character.

if ((ord(chr) >= 0) and (ord(chr) < 48)) or ((57 < ord(chr)) and (ord(chr) < 65)) or ((122 < ord(chr)) and (ord(chr)<128)):
    print(" Print given character is Spacial symble: ",chr)
    
elif ((64 < ord(chr)) and (ord(chr) < 91)) or ((96 < ord(chr)) and (ord(chr) < 123)):
    print("Print given character is Alphabet: ",chr)
    
else:
    print("Print given character is Digit: ",chr)

 Enter the Character: %
The ASCII value of % is 37
 Print given character is Spacial symble:  %

# Ternary Operator in Python

Syntax:
    
    [on_true] if [expression / test condition] else [on_false]

In [21]:
num = int(input("Enter the number: "))
print("Given number is even") if (num % 2 == 0) else print("Given number is odd")

Enter the number: 19
Given number is odd

# Sum Of Two Binary Numbers

In [23]:
a = "110101"
b = "1100"
max_len = max(len(a), len(b))
a = a.zfill(max_len)   #The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length  
b = b.zfill(max_len)
print(a)
print(b)

result = ''
  
carry = 0
  
# Traverse the string
for i in range(max_len - 1, -1, -1):
    r = carry
    r += 1 if a[i] == '1' else 0
    r += 1 if b[i] == '1' else 0
    result = ('1' if r % 2 == 1 else '0') + result
  
    # Compute the carry.
    carry = 0 if r < 2 else 1  

if carry != 0:
    result = '1' + result  
    
print(result.zfill(max_len))

110101
001100
1000001

In [24]:
a = "1101001"
b = "100"
sum = bin(int(a,2) + int(b,2)) #The bin() function is used to convert an integer number to a binary string.
print(sum[:])
print(sum[2:])

0b1101101
1101101

# Python Exercise: To check the perfact number

a perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself.

In [12]:
n = int(input("Enter any number: "))
sum1 = 0
a = int(n/2)
for i in range(1, a+1):
    if(n % i == 0):
        print(i)
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 28
1
2
4
7
14
The number is a Perfect number!

# Python Exercise:Find sum of digits in factorial of a number

In [2]:
a = int(input("enter any number: "))
x = a
for i in range(1,a):
    print(x)
    x = x * (a-i) #  5 = 5*4 = 20 *3 = 60 * 2= 120 * 1= 120
print("factorial of a number is " + str(x))

enter any number: 5
5
20
60
120
factorial of a number is 120

# Python Exercise: To print the index of duplocate elements in list

In [19]:
my_list = [10,2,3,5,2,1,6,3,5,2,2] 
a = 3 # element to be found 
for index in range(len(my_list)):#traversing thro length of the list 
    if my_list[index] == a: 
        print(index)

2
7

# Display letter of the word in Pattern

In [3]:
str1 = "HARSH"  
x = ""  
for i in str1:  
    x += i  # x = HAR
    print(x)

H
HA
HAR
HARS
HARSH

# print simple reversed right angle pyramid pattern

In [12]:
rows = int(input("Enter the number of rows:"))   # It is used for number of spaces
k = 1
for i in range(0, rows): 
    for j in range(0,i+1):
        print(k,end =" ")
        k = k+1
    print()

Enter the number of rows:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [20]:
rows = int(input("Enter the number of rows:"))  
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2   # decrement k value after each iteration  
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("")

Enter the number of rows:7
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

# To capitalize the first letter of each word in a string

In [5]:
sample_text = "i am harsh raj singh"
a = " HARSH RAJ SINGH"

# Capitalize the first letter of each word i.e.

# Convert the first letter of each word to Upper case and all other to lower case

result = sample_text.title()
A = a.title()
print(result)
print(A)

I Am Harsh Raj Singh
 Harsh Raj Singh

In [6]:
sample_text = "a33a. it's GONE too far"
# Capitalize the first letter of each word
result = sample_text.title()
print(result)

A33A. It'S Gone Too Far

sample_text = "33a. it's GONE too far"
result = ' '.join(elem.capitalize() for elem in sample_text.split())
print(result)

In [7]:
import string
sample_text = "33a. it's gone tOO far"
a = "i m harsh raj singh"
result = string.capwords(sample_text)
a = string.capwords(a) 

print(result)
print(a)

33a. It's Gone Too Far
I M Harsh Raj Singh

# Print a Floydâ€™s Triangle Pattern

Floyd's triangle is a triangular array of natural numbers, used in computer science education. It is named after Robert Floyd. It is defined by filling the rows of the triangle with consecutive numbers, starting with a 1 in the top left corner:

1

2	3

4	5	6

7	8	9	10

11	12	13	14	15

In [9]:
# Range of the triangle
size = int(input("Enter the range: \t "))
print("\nFLOYD'S TRIANGLE with numbers: \n")
k = 1
# 2 for loops, one for column looping another for row looping
# i loop for column looping and j loop for row looping
for i in range(1, size + 1):
    for j in range(1, i + 1):
        print(k, end=" ")
        k = k + 1
    print()
print("\n")
"""print("\nFLOYD'S TRIANGLE with *'s: \n")
for i in range(1, size + 1):
    for j in range(1, i + 1):
        print('*', end=" ")
    print()
print("\n")"""

Enter the range: 	 7

FLOYD'S TRIANGLE with numbers:

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28



FLOYD'S TRIANGLE with *'s:

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [11]:
# ASCII number of 'A'
ascii_number = 65
rows = int(input("Enter the values of raw"))
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
        ascii_number += 1
    print(" ")

Enter the values of raw10
A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \
] ^ _ ` a b c d
e f g h i j k l m
n o p q r s t u v w

# Equilateral triangle pattern of characters/alphabets

In [1]:
print("Print equilateral triangle Pyramid with characters ")
size = 5
asciiNumber = 65  #66
m = (2 * size) - 2 # m =18 = 17 =16
for i in range(0, size): # raw
    for j in range(0, m): # column
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber += 1
    print(" ")

Print equilateral triangle Pyramid with characters
        A
       B C
      D E F
     G H I J
    K L M N O

# Pyramid of horizontal number tables

In [3]:
# Pyramid of horizontal tables of numbers
rows = 10
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

# Double the number pattern

In [1]:
rows = 9
for i in range(1, rows):
    for j in range(-1 + i, -1, -1):   # j=(3,-1,-1)
        print(format(2 ** j, "4d"), end=' ')
    print("")

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

# Random number pattern

In [3]:
rows = 9
for i in range(1, rows):
    for i in range(0, i, 1):
        print(format(2 ** i, "4d"), end=' ')
    for i in range(-1 + i, -1, -1):
        print(format(2 ** i, "4d"), end=' ')
    print("")

   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

In [2]:
m = 2
n = 28
lst = []

'''for i in range(1,n+1):
    if n%i==0:
        lst.append(i)
if m in lst:
    print(m,"is a factor of",n)
else:
    print(m,"is not  a factor of",n)
    '''

2 is a factor of 28

In [5]:
n = input("Enter a number")
a = int(n)
sum = 0
while(a!=0):  # 124  = 4
    rem = a % 10
    b = 1
    while(rem!=0):
        b = b*rem
        rem -=1        
    sum= sum+b
    a //=10
if int(n)== sum:
    print("number is strong number")
else:
    print("number is not a strong number")

Enter a number2
number is strong number

In [10]:
t = [4,10,3,6,5]
#r = sorted(t)
#print(r)
t.sort()
print(t)

[3, 4, 5, 6, 10]